<template name="postEdit">
	<div class="page-header">
		{{#if post}}
		<h1>Edit post</h1>
		{{else}}
		<h1>New post</h1>
		{{/if}}
	</div>

	<form id="postEditForm" role="form">
		<div class="form-group">
			<label for="postTitle">Title</label>
			<input id="postTitle" class="form-control" type="text" value={{post.title}}>
		</div>
		<div class="form-group">
			<label for="postContent">Content</label>
			<textarea id="postContent" class="form-control" rows="5">{{post.content}}</textarea>
		</div>
		<button type="submit" class="btn btn-primary">Save</button>
	</form>

</template>