<template name="attendeeList">
	<div class="page-header">
		<h1>
			Attendees
			<small>{{event.title}}</small>
			<a class="btn btn-primary" href="{{pathFor 'eventCreate'}}">New</a>
		</h1>
	</div>

	<h2>Add attendees</h2>

	

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			{{#each eventList}}
				{{> eventIndexItem}}
			{{/each}}
		</tbody>
	</table>
</template>

<template name="attendeeListItem">
	<tr id="{{_id}}">
		<td>{{name}}</td>
		<td>{{attendee.status}}</td>
	</tr>
</template>
