<template name="attendeeIndex">
	<div class="page-header">
		<h1>
			Attendees
			<small>{{event.title}}</small>
			<a class="btn btn-primary" href="{{pathFor 'attendeeCreate' eventId=this.event._id}}">Add attendees</a>
		</h1>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			{{#each eventList}}
				{{> eventIndexItem}}
			{{/each}}
		</tbody>
	</table>
</template>

<template name="attendeeIndexItem">
	<tr id="{{_id}}">
		<td>{{name}}</td>
		<td>{{attendee.status}}</td>
	</tr>
</template>
